@import '../../../styles/scss/breakpoints';

.home{
    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__country{
        font-size:var(--fontsize-l);
        color:var(--mine-shaft);
    }

    &__count{
        margin-left: auto;
        color:var(--emperor);
        font-size: var(--fontsize-s);
        font-weight: 600;
    }

    .stay{
        margin-bottom:2rem;
    }

    @include tablet-query{
        &__stays{
            display: grid;
            grid-template-rows: 1fr;
            grid-gap: 24px;
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        }
    }

    @include laptop-query{
        &__stays{
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        }
    }
}