
.location{
    padding:1.5rem 1rem;
    display: flex;
    align-items: center;
    color: var(--emperor);
    cursor: pointer;
    transition: background 0.3s;
    &:hover{
        background:var(--concrete);
    }
    img{
        margin-right: 1rem;
    }
}