.aria--hide, .searchbar__group label, .searchbar__submit span {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.bold-label, .searchbar--focused .searchbar__header span, .searchbar--focused .searchbar__group label {
  font-size: var(--fontsize-xs);
  color: var(--mine-shaft);
  font-weight: bold;
}

.searchbar {
  padding: 1.5rem 0;
}

.searchbar--focused {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5rem 1rem;
  -webkit-animation: expandFromTop 0.5s 1 forwards;
          animation: expandFromTop 0.5s 1 forwards;
}

.searchbar--focused::before, .searchbar--focused::after {
  content: '';
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.searchbar--focused::before {
  height: 100vh;
  background: var(--black);
  opacity: 0.5;
}

.searchbar--focused::after {
  height: 80vh;
  background: var(--white);
  -webkit-animation: expandFromTop 0.5s 1 forwards;
          animation: expandFromTop 0.5s 1 forwards;
}

.searchbar--focused .searchbar__header {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchbar--focused .searchbar__header button {
  background: none;
  margin-left: auto;
}

.searchbar--focused .searchbar__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.searchbar--focused .searchbar__group {
  width: 100%;
  border: none;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.searchbar--focused .searchbar__group:nth-child(1) {
  border-bottom: 1px solid var(--concrete);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.searchbar--focused .searchbar__group:nth-child(2) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.searchbar--focused .searchbar__group label {
  width: initial;
  height: initial;
  overflow: visible;
}

.searchbar--focused .searchbar__locations {
  width: 100%;
  max-height: 30vh;
  overflow: auto;
  margin-top: 1rem;
}

.searchbar--focused .searchbar__submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--burnt-sienna);
  border-radius: 15px;
  padding: 0.8rem 1rem;
  position: absolute;
  bottom: 1rem;
}

.searchbar--focused .searchbar__submit span {
  overflow: initial;
  width: initial;
  height: initial;
  color: var(--concrete);
}

.searchbar__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.searchbar__group, .searchbar__submit {
  padding: 1rem 0.5rem;
}

.searchbar__group {
  border-right: 1px solid var(--concrete);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchbar__group input {
  width: 100%;
  font-size: var(--fontsize-s);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchbar__group input::-webkit-input-placeholder {
  color: var(--silver);
}

.searchbar__group input:-ms-input-placeholder {
  color: var(--silver);
}

.searchbar__group input::-ms-input-placeholder {
  color: var(--silver);
}

.searchbar__group input::placeholder {
  color: var(--silver);
}

.searchbar__group input:focus {
  outline: none;
}

.searchbar__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  width: 15%;
}

@media screen and (min-width: 768px) {
  .searchbar--focused .searchbar__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .searchbar--focused .searchbar__group:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
            box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .searchbar--focused .searchbar__group:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .searchbar--focused .searchbar__submit {
    position: initial;
    bottom: unset;
    margin-left: 1rem;
  }
  .searchbar--focused .searchbar__locations {
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .searchbar--focused .searchbar__locations::-webkit-scrollbar {
    background: none;
    width: 10px;
  }
  .searchbar--focused .searchbar__locations::-webkit-scrollbar-thumb {
    background: var(--gray);
  }
}

@-webkit-keyframes expandFromTop {
  from {
    height: 40vh;
  }
  to {
    height: 80vh;
  }
}

@keyframes expandFromTop {
  from {
    height: 40vh;
  }
  to {
    height: 80vh;
  }
}
/*# sourceMappingURL=Searchbar.css.map */