@import "../../../styles/scss/breakpoints";
@import "../../../styles/scss/classes";

.bold-label{
    font-size: var(--fontsize-xs);
    color:var(--mine-shaft);
    font-weight: bold;
}

.searchbar{
    padding:1.5rem 0;

    //searchbar when focused/editing
    &--focused{
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        width: 100%;
        height: 80vh;
        box-sizing: border-box;
        padding:1.5rem 1rem;
        animation:expandFromTop 0.5s 1 forwards;

        &::before, &::after{
            content:'';
            width: 100%;
            position: fixed;
            top:0;
            left:0;
            z-index: -1;
        }

        &::before{
            height:100vh;
            background:var(--black);
            opacity: 0.5;
        }

        &::after{
            height: 80vh;
            background:var(--white);
            animation:expandFromTop 0.5s 1 forwards;
        }

        .searchbar__header{
            margin-bottom: 1rem;
            display: flex;
            align-items: center;

            span{
                @extend .bold-label;
            }

            button{
                background:none;
                margin-left: auto;
            }
        }

        .searchbar__form{
            border-radius: 0;
            box-shadow: none;   //remove default shadow
        }

        .searchbar__group{
            width: 100%;
            border:none;
            padding:1rem;
            box-sizing: border-box;

            // add shadow to searchbar when focused
            &:nth-child(1){
                border-bottom:1px solid var(--concrete);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                box-shadow:0px -2px 5px rgba(black, 0.1);
            }

            &:nth-child(2){
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow:0px 2px 5px rgba(black, 0.1);
            }

            label{
                width: initial;
                height: initial;
                overflow: visible;
                @extend .bold-label;
            }
        }

        .searchbar__locations, .searchbar__counters{
            width: 100%;
        }

        .searchbar__locations{
            max-height: 30vh;
            overflow: auto;
            margin-top:1rem;
        }

        .searchbar__submit{
            width: fit-content;
            background:var(--burnt-sienna);
            border-radius:15px;
            padding:0.8rem 1rem;
            position: absolute;
            bottom:1rem;

            span{
                overflow: initial;
                width: initial;
                height: initial;
                color:var(--concrete);
            }
        }
    }

    &__header{
        display: none;
    }

    &__form{
        box-shadow:0px 0px 5px rgba(black, 0.1);
        border-radius: 15px;
    }

    &__group, &__submit{
        padding:1rem 0.5rem;
    }

    &__group{
        border-right:1px solid var(--concrete);
        flex:1;

        label{
            @extend .aria--hide;
        }

        input{
            width: 100%;
            font-size:var(--fontsize-s);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::placeholder{
                color:var(--silver);
            }
            &:focus{
                outline:none;
            }
        }
    }

    &__submit{
        display: flex;
        align-items: center;
        background:none;
        width: 15%;
        span{
            @extend .aria--hide;
        }
    }

    @include tablet-query{
        
        .searchbar__form{
            display:grid;
            grid-template-columns: 150px 150px auto;
        }

        &--focused{
            .searchbar__form{
                grid-template-columns: 500px 500px auto;
                align-items: center;
                width: 100%;
            }

            .searchbar__group, .searchbar___locations, .searchbar__counters{
                min-width: 500px;
                width: 500px;
            }

            .searchbar__group{
                &:nth-child(1){
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 15px;
                    box-shadow:-2px 0px 5px rgba(black, 0.1);
                }
                &:nth-child(2){
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 15px;
                    box-shadow:2px 0px 5px rgba(black, 0.1);
                }
            }

            .searchbar__submit{
                position: initial;
                bottom:unset;
                margin-left: 1rem;
            }

            .searchbar__locations, .searchbar__counters{
                order:4;
            }

            .searchbar__locations{
                &::-webkit-scrollbar{
                    background:none;
                    width: 10px;
                }

                &::-webkit-scrollbar-thumb{
                    background:var(--gray);
                }
            }

            .searchbar__counters{
                grid-column: 2;
            }
        }
    }
}

@keyframes expandFromTop{
    from{
        height:40vh;
    }
    to{
        height: 80vh;
    }
}