@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --font-montserrat:'Montserrat', sans-serif;
    --fontsize-xs:0.8rem;
    --fontsize-s:0.9rem;
    --fontsize-l:1.5rem;
}